[global]
index-url = https://pypi.org/simple/
extra-index-url =
        https://pypi.q.ai/signals/development
        https://pypi.q.ai/atoms/development
        https://pypi.q.ai/machine_learning/development
        https://pypi.q.ai/software/development
        https://pypi.q.ai/signals/production
        https://pypi.q.ai/machine_learning/production
        https://pypi.q.ai/software/production
        https://pypi.q.ai/atoms/production
trusted-host = pypi.q.ai
[search]
index = https://pypi.org/simple/